{{>header}}
<body>
  <div class="main-content">
    <h1>{{title}}</h1>
    <p>Use the form to get your weather!</p>
    <form>
      <input placeholder="Enter location">
      <button>Search</button>      
    </form>
    <p id="messageOne"></p>
    <p id="messageTwo"></p>
  </div>
    
</body>
{{>footer}}